rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function autenticado() {
      return request.auth != null;
    }

    function miNegocio() {
      return get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.negocio_id;
    }

    function esDelNegocio(negocioId) {
      return autenticado() && miNegocio() == negocioId;
    }

    match /usuarios/{uid} {
      allow read: if autenticado() && (
        request.auth.uid == uid ||
        get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.negocio_id == resource.data.negocio_id
      );

      allow create: if autenticado() &&
        get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.rol == 'ADMIN' &&
        miNegocio() == request.resource.data.negocio_id;

      allow update: if autenticado() &&
        get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.rol == 'ADMIN' &&
        get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.negocio_id == resource.data.negocio_id &&
        request.resource.data.negocio_id == resource.data.negocio_id;

      allow delete: if false;
    }

    match /negocios/{negocioId} {
      allow read, write: if esDelNegocio(negocioId);

      match /{documento=**} {
        allow read, write: if esDelNegocio(negocioId);
      }
    }
  }
}